<!DOCTYPE html>
<html>
    <head>
        <title>Data Tamu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Data Tamu</h1>
        
        <a href="form">Tambah Data Baru</a>
        
        <table>
            
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>Email</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            
            <tbody>
                <tr th:each="t : ${dataTamu.content}">
                    <td th:text="${t.nama}">Nama Tamu</td>
                    <td th:text="${t.email}">Email Tamu</td>
                    <td>
                        <a href="form?id=idtamu" th:href="@{/tamu/form(id=${t.id})}">edit</a>
                    </td>
                </tr>
            </tbody>
            
        </table>
        
    </body>
</html>
